/* ###### ID ###### */
#menu-superior {
    background-color: #0A0D27;
}

#menu-superior a {
    color: white;
    font-size: 16px;
    display: inline-block;
    padding: 3px;
    margin: 0px 40px 0px 40px;
}

#menu-superior a:hover {
    display: inline-block;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

#botao {
    background-color: #ACADC2;
    color: black;
}

#botao:hover {
    background-color: #f0f0f1;
}

#titulo {
    display: inline-block;
    font-size: 48px;
    font-family: Blippo, fantasy;
    color: #008000;
}

#botao:hover {
    background-color: rgb(237, 237, 255);
    color: black;
}

#cadastro {
    font-size: 25px;
    text-align: center;
    background-color: #191C3E;
    color: white;
    margin-top: 50px;
}

#cadastro img {
    width: 400px;
    box-shadow: 10px 5px 5px black;
}

#form_cad {
    padding: 30px;
    border: 1px solid black;
    border-radius: 15px;
    display: inline-block; 
    background-color: #636675;
     
}

#form_cad input{
    margin: 10px;
}

#entrada_usuario {
    background-color: #22B0E3;
    text-align: center;
}

#entrada_usuario h4 {
    font-family: Optima, sans-serif;
    display: inline-block;
    box-shadow: 7px 5px 5px black;
    border: 2px solid black;
}

#entrada_usuario img{
    width: 230px;
    box-shadow: 10px 5px 5px black;
    margin-top: 100px;
    border: 2px solid black;  
}

#entrada_usuario p {
    font-size: 18px;
}

#tela {
    font-size: 25px;
    background-color: #21ce9a;
    color: white;
    border: 1px solid black;
    border-radius: 50px;
    padding: 50px;
    display: inline-block;
    box-shadow: 10px 5px 5px black;
}
/* ###### FIM DOS ID'S ###### */





/* ###### CLASSES ###### */
.noticias {
    color: black;
    margin: 0px 20px 0px 20px;
    text-decoration: none;
    background-color: white;
    transition: 1s;
}

.noticias:hover, .noticias:focus {
    background: #0A0D27;
    color: white;
    transform: translateX(10px) scale(1.2);
}
/* ###### FIM DAS CLASSES ###### */





