/* ID */
#menu-superior {
    background-color: #0A0D27;
}

#menu-superior a {
    color: white;
    display: block;
    padding: 9px;
    margin: 1px;
}

#menu-superior a:hover {
    background-color: #191C3E;
    color: white;
}

#botao {
    background-color: #ACADC2;
    color: black;
}

#botao:hover {
    background-color: #303677;
    color: white;
}
/* FIM DOS ID'S */

